//- Interpolate userId
form(class='add-shelf-form' action='/users/:userId/customShelves' method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    div
        label(for='addShelf') Add a Shelf:
    div
        input(type='text' name='addShelf')
    button(type='submit') Add
