extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
    div.homegrid
        span.current-play
            h3 Currently Playing
        span.want-play
            h3 Want to Play
        span.all-shelves
        div.guides-container
            table.all-guides
                thead
                    tr 
                        th(scope='col') Cover
                        th(scope='col') Title
                        th(scope='col') Author
                tbody
                    each guide in guides
                        tr
                            td
                                a(href='??')
                                    img.guide-img(src=`${guide.coverImg}`)
                            td=guide.title 
                            td=guide.author
        span.socials#whit
        span.socials#alex
        span.socials#laura
