.main-content-container {
  width: 100%;
  text-align: center;
  padding-bottom: 25px;
}

.main-content-float {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  float: left;
  width: 960px;
  margin-top: 15px;
  margin-left: 5px;
  font-size: 12px;
  min-height: 400px;
  background: #ffffff;
}

.main-content {
  margin: 0px auto;
  text-align: left;
  width: 970px;
  background: #ffffff;
}

.left-container {
  float: left;
  width: 625px;
  padding-right: 10px;
  padding-left: 8px;
}

#topcol {
  width: 100%;
  margin-bottom: 10px;
}

#imagecol {
  width: 150px;
  text-align: center;
  display: inline-block;
  margin: 0 20px 10px 0;
}

.book-cover-container {
  position: relative;
  text-align: center;
}

#cover-img {
  max-width: 150px;
  margin: 0 auto 10px;
}

.wtp-button-container {
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  height: 67px;
  width: 140px;
  position: relative;
}

.wtp-button {
  border-width: 1px;
  padding: 6px 0 7px 8px;
  width: 105px;
  font-size: 13px;
  background-color: #f2f2f2;
  border-color: #dddddd;
  color: #181818;
  line-height: 100%;
  text-overflow: ellipsis;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border-style: solid;
  font-weight: bold;
  overflow: hidden;
  float: left;
  text-align: left;
  word-wrap: normal;
  white-space: nowrap;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wtp-button.unselected {
  background-color: #409d69;
  color: white;
}

.shelf-dropdown-button {
  background-color: #409d69;
  color: #fff;
  border-width: 0px;
  height: 28px;
  width: 27px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-left: 1px solid #38883d;
  margin-right: -10px;
  padding: 0;
  float: left;
}

.wtp-shelf-button {
  height: 27px;
  padding: 5px;
  width: 28px;
  box-sizing: border-box;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 8px 4px;
  border: 0;
  cursor: pointer;
  display: block;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  margin: auto;
  text-align: inherit;
  min-width: 0 !important;
}

.wtp-shelf-menu {
  background: #ffffff;
  border-color: #cccccc;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  max-height: 250px;
  overflow: hidden;
  padding: 0;
  right: 0;
  text-align: left;
  top: 28px;
  width: 180px;
  position: absolute;
  box-shadow: 0 3px 4px -3px rgb(0 0 0 / 50%);
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.wtp-shelf-list {
  margin: 2px 0 0 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 2px;
}

/* There will be other css here to style drop down forms */

ul.wtp-exclusive-shelves {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
  display: block;
}

ul.wtp-exclusive-shelves > li {
  margin-left: 0;
  overflow: hidden;
  padding-left: 15px;
  color: #181818;
  text-align: left;
}

ul.wtp-exclusive-shelves > li:hover {
  background-color: #e4dede;
}

ul.wtp-exclusive-shelves > li > button {
  box-sizing: content-box;
  color: inherit;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: inherit;
  font-weight: normal;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  width: 100%;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
}

.current-selected-status {
  font-size: 12px;
}

.rating-stars {
  text-align: center;
}

.myrating-text {
  color: #999999;
  box-sizing: content-box;
  display: block;
  font-size: 11px;
  height: 16px;
  line-height: 14px;
  margin: 0 auto;
  padding: 3px 6px 0 6px;
  width: 100px;
}

.wtp-rating {
  clear: both;
  color: #f2f2f2;
  font-size: 85%;
}

.stars {
  white-space: nowrap;
  display: inline-block;
  color: #aaa;
  overflow: hidden;
  width: 75px;
  margin-left: auto;
  margin-right: auto;
}

.star {
  cursor: pointer;
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
  float: left;
  font-size: 0 !important;
}

.star.off {
  background-image: url("../images/review-stars.png");
  background-size: 15px;
}

a {
  color: #00635d;
  text-decoration: none;
}

#textcol {
  width: 455px;
  margin-right: 0px;
  display: inline-block;
}

#game-guide-title {
  margin-bottom: 0;
  width: 100%;
  font-family: "Merriweather", "Georgia", serif;
  font-weight: bold;
  line-height: 1.25;
  font-size: 24px;
  color: #333333;
}

#guide-authors {
  margin-bottom: 8px;
  line-height: 18px;
  font-size: 16px;
}

#guide-meta {
  position: relative;
}

.static-stars {
  height: 15px;
  font-size: 0;
  background-repeat: no-repeat;
  vertical-align: top;
}

.grey-text {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  margin: 0 5px;
}

#description-container {
  border-bottom: 1px solid #ddd;
}

#description-box {
  right: 0;
  line-height: 21px;
  font-family: "Merriweather", "Georgia", serif;
  font-size: 14px;
  margin-bottom: 10px;
}

.my-review-box {
  width: 100%;
  padding-bottom: 10px;
}
.h2-container {
  padding-top: 10px;
  width: 100%;
}

.my-review-header {
  display: block;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 2px 0;
  width: auto;
  height: 24px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  background: transparent;
  border-bottom: 1px solid #ddd;
}

.review-box-content {
  padding: 10px 0 10px 0;
}

.my-reviews {
  table-layout: fixed;
}

table {
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.my-reviews td {
  font-size: 14px;
}

.my-review-label {
  padding: 4px 0;
  vertical-align: top;
  width: 125px;
}

td {
  margin: 0;
}

.single-recommendation-container {
  margin-top: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.right-container-header-h2 {
  color: #333333;
  font-family: "Merriweather", "Georgia", serif;
}

.guide-title {
  margin-bottom: 5px;
  width: 100%;
  font-family: "Merriweather", "Georgia", serif;
  font-weight: bold;
  line-height: 1.25;
  font-size: 12px;
  color: #333333;
}

.guide-img {
  object-fit: cover;
  object-position: top;
  width: 100px;
  height: 120px;
}
