body {
  background-color: antiquewhite;
  font-size: 12px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 18px;
}

a {
  text-decoration: none;
  color: #00635d;
}

.content-box {
  border: 1px solid #d0d0c8;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 1px 1px #d0d0c8;
  padding: 28px 10px 34px 10px;
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  padding: 0px 0px 2px 0px;
  font-size: 20px;
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 15px;
  color: #382110;
  line-height: 24px;
}

.error-box {
  border: 1px solid #fa604a;
  background-color: #fdb7ad;
  border-radius: 4px;
  padding: 12px;
  width: auto;
  margin: 16px;
  text-align: start;
}

fieldset {
  border: none;
  width: 300px;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

.fieldEle {
  margin-bottom: 10px;
}

#demoDiv > input {
  display: inline;
  width: auto;
}

label {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
  color: #333;
  font-weight: bold;
  width: 100%;
}

input {
  display: block;
  font-size: 15px;
  padding: 10px 4px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0px 2px 2px #333 #ccc;
  font-weight: bold;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 300px;
  color: #333;
  box-sizing: border-box;
}

.submitEle {
  margin-top: 20px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.submit-button {
  border-radius: 3px;
  border: 1px solid #d6d0c4;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #333333;
  background-color: #f4f1ea;
  line-height: 1;
  padding: 8px 12px;
}

.submit-button:hover {
  background-color: #f5e6c5;
}

.submit-button--large {
  font-size: 16px;
  padding: 12px 24px;
}

.signUpOption {
  text-align: center;
  margin-top: 24px;
  margin-left: 24px;
}

.signUpOption > a {
  margin-left: 10px;
}

.signInOption {
  margin-left: 24px;
}

.signInOption > a {
  margin-left: 10px;
}

img {
  height: 30px;
  width: auto;
}
