body {
    background-color: rgb(253, 245, 245);
}

.mainContentContainer {
    color: #181818;
    display: block;
    font-family: monospace;
    font-size: 10px;
    height: 100%;
    line-height: 18px;
    margin: 10px 0 0 0;
    padding: 0 0 25px 0;
    text-align: center;
    width: 100%;
}

.mainContent {
    background: #FFFFFF;
    margin: 0px auto;
    text-align: left;
    width: 970px;
}

.myGuidesPage {
    width: 100%;
    height: 100%;
    font-size: 13px;
}

#leftCol {
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 200px;
}

#side {
    margin-right: 10px;
    padding-right: 10px;
}

.sectionHeader {
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
}

.smallText {
    color: #00635d;
    font-family: monospace;
    font-size: 10px;
    line-height: 14px;
    padding-left: 5px;
}

.stacked {
    margin-bottom: 10px;
}

.userShelf a {
    color: #00635d;
}

.divider {
    border-bottom: 1px solid #D8D8D8;
    margin: 0.5em 0;
}

.selectedShelf a {
    color: #777777
}

#addShelfBtn {
    background-color: #F4F1EA;
    border: 1px solid #D6D0C4;
    border-radius: 3px;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: monospace;
    font-size: 10px;
    line-height: 1;
    padding: 4px 12px;
}

#newShelfForm {
    display: none;
    height: 23px;
    margin-top: 18px;
    padding-bottom: 15px;
}

.add-shelf-form {
    display: block;
    margin-top: 0em;
}

.add-shelf-form label {
    font-weight: bold;
    margin-right: 3px;
}

#addShelfInput {
    display: flex;
    align-items: center;
}

#addShelfInput #addShelf {
    background: #FFFFFF;
    border: #DCD6CC 1px solid;
    border-radius: 3px;
    color: #333333;
    font-family: monospace;
    height: 15px;
    padding: 2px;
    width: 100px;
}

#addShelfInput #addShelf:focus {
    border-color: #B9AD99;
    box-shadow: 0 0 4px rgb(185 173 153 / 50%);
    outline: 0px;
}

#addShelfInput button {
    background-color: #F4F1EA;
    border: 1px solid #D6D0C4;
    border-radius: 3px;
    color: #333333;
    display: inline-block;
    font-family: monospace;
    font-size: 10px;
    line-height: 1;
    margin-left: 3px;
    padding: 4px 12px;
}

#rightCol {
    float: left;
    margin-bottom: 10px;
    width: 750px;
}

#guides {
    border-collapse: collapse;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
}

#guidesHeader {
    border-collapse: collapse;
    width: 100%;
}

#guides th {
    border-bottom: 2px solid rgba(171, 162, 211, 0.521);
    color: #382110;
    font-size: 12px;
    font-weight: bold;
    height: 36px;
    line-height: 18px;
    margin: 0;
    text-align: left;
    vertical-align: bottom;
    width: 960px;
}

#guides .cover {
    padding: 10px;
}

#guides .title {
    padding: 10px;
    width: 25%;
}

#guides .author {
    padding: 10px;
}

#guides .avgRating {
    padding: 12px;
}

#guides .rating {
    padding: 12px;
}

td.rating {
    display: flex;
    flex-direction: column;
    /* grid-template-rows: 45px 15px 45px; */
}

.empty {
    height: 45px;
}

.stars {
    display: inline-block;
    text-align: center;
}

.star-rating {
    white-space: nowrap;
    display: flex;
    flex-direction: row-reverse;
    height: 15px;
    color: #aaa;
    overflow: hidden;
    width: 75px;
    margin-left: auto;
    margin-right: auto;
}

.star {
    cursor: pointer;
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
    float: left;
    font-size: 0 !important;
    background-image: url("../images/heart-icon-empty.png");
    background-size: 15px;
}

.star-rating .star:hover,
.star-rating .star:hover ~ .star {
    background-image: url("../images/heart-icon-color.png");
}

.hide {
    color: transparent;
    display: block;
    height: 45px;
}

.star-rating:hover + .hide {
    display: block;
    color: #181818;
    font-size: 85%;
    text-shadow: 1px 1px 2px purple;
}

#guides .shelves {
    padding: 12px;
}

#guides .review {
    padding: 12px;
    width: 100%;
}

.hidden-review {
    color: transparent;
}

td.review a:hover + .hidden-review {
    color: #181818;
    display: block;
    text-shadow: 1px 1px 2px purple;
}

#guides .datePlayed {
    padding: 12px;
}

#guides .dateAdded {
    padding: 12px;
}

/* Cannot get this to display properly, adjusts height of other headers to be 1px more */
#guides .action {
    padding: 12px;
    width: 40px;
}

.action button {
    cursor: pointer;
}

.noContent {
    color: rgb(132, 115, 207);
    margin-bottom: 10px;
    padding: 20px;
    text-align: center;
}

.cover {
    height: 68px;
    box-sizing: border-box;
}

.cover img {
    object-fit: cover;
    object-position: top;
    width: 50px;
    height: 68px;
    border-radius: 10px;
    box-shadow: 1px 2px 5px rgba(128, 128, 128, 0.356);
}
